<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body ng-controller="NameCtrl">

    <div class="container mt-5">
        <section class="row">
            <div class="col-6 border rounded p-5 bg-light">

                <input ng-model="first" type="text" placeholder="First Name"><br>

                <input ng-model="last" type="text" placeholder="Last Name"><br>

                <span>Hello {{ first }} {{ last }}!</span>

            </div>

            <div class="col-6 border rounded p-5 bg-light">
                <ul>
                    <li ng-repeat="name in names">{{ name }}</li>
                </ul>

            </div>
        </section>
    </div>

    <script>
        //        angular.module( NAME, [ REQUIRED ] ) 
        let App = angular.module( 'App', [] );

        App.controller( 'NameCtrl', ['$scope', '$timeout', function( $scope, $timeout ) {

            $scope.first = 'Kostas';

            $scope.last = 'Minaidis';

            // .$watch -> similar to .addEventListener( "submit", CALLBACK )
            $scope.$watch( 'last', watch );

            function watch( newValue, oldValue ){

                console.log( newValue, oldValue );

            }

            $timeout(function(){
                $scope.last = "Smith";
                console.log( "2 seconds passed. Has $scope.last been updated?" );
            }, 2000 );

            // Loop over lists and update template using ng-repeat
            $scope.names = [ "JavaScript", "C++", "Java", "Python" ];

        }]);

    </script>

</body>

</html>