<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS | ng-repeate & fetching using $http service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
</head>
<body ng-app="Countries">

    <!-- .container>.row>.col>table>thead>td*3^tbody>td*3 -->
    <div class="container bg-warning shadow mt-5 p-5" ng-controller="CountriesCtrl">
            <div class="row">

                <div class="col-12">
                    <form ng-submit="search()">
                        <input type="text" ng-model="selected" class="p-2 mb-5" placeholder="Country">
                    </form>
                </div>
        
                <div class="col">
                    <table class="bg-light w-100">
                        <thead class="bg-dark text-white">
                            <tr>
                                <td class="p-3 border border-light">Country</td>
                                <td class="p-3 border border-light">Capital</td>
                                <td class="p-3 border border-light">Population</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="country in countries | filter:selected | orderBy:population:true ">
                                <td class="p-3 border border-dark">{{ country.name | uppercase }}</td>
                                <td class="p-3 border border-dark">{{ country.capital | uppercase }}</td>
                                <td class="p-3 border border-dark">{{ country.population | number }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script>
            const App = angular.module( "Countries", [] );

            App.controller( "CountriesCtrl", function( $scope, $http ){

                const URL = "https://api.myjson.com/bins/r1mlg";

                $http.get( URL ).then(function(response){

                    console.log( response.data );
                    $scope.countries = response.data;

                });

            });
        </script>

</body>
</html>